:root {
    --primary: #17a0ee;
    --light: #fee6ba;
    --dark: #191919;
    --secondary: #3dc0fd;
    --danger: #ff8d1f;
    --warning: #ffd424;
    --success: #59be4d;
    --accent: #944ca1;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Spicy Rice", serif;
    font-weight: 200;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--warning);
    color: var(--dark);
}

h1 {
    background-color: var(--success);
    color: var(--dark);
    text-align: center;
    padding: 10px;
    width: 100%;
}

#list {
    
    margin-top: 15px;
    padding: 26px;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--dark);
}



#list div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

#list label {
    margin-right: 10px;
}
#list input {
    accent-color:var(--accent);
    margin: 8px;
}

#list button {
    background-color: var(--danger);
    color: var(--dark);
    border: none;
    border-radius: 2px;
    padding: 5px;
}

#list button:hover {
    background-color: var(--accent);
}

.add-bar {
    color: var(--dark);
}

.add-bar input {
    background-color: var(--success);
    border-radius: 5px;
    border: none;
    color: var(--dark);
    padding: 5px;
}

.add-bar input::placeholder {
    color: var(--dark);
}

.add-bar button {
    background-color: var(--danger);
    border-radius: 3px;
    border: none;
    padding: 5px;
    color: var(--dark);
}

.add-bar button:hover {
    background-color: var(--accent);
}